<p id="notice"><%= notice %></p>



<h1>Messages</h1>

<br>

<ul id='messages'>
  <% @messages.each do |message| %>
    <li><%= message.user.email %> : <%= message.content %></li>
  <% end %>
</ul>

<%= render 'form', post_test: @post_test %>

<%= link_to 'New Message', new_message_path %>


