<!DOCTYPE html>
<html>
  <head>
    <title>ActionTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "Home", root_path %>
    <%= link_to "PostTest", post_tests_path %>
    <%= yield %>
    <%= flash_toastr %>
  </body>
</html>
